--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-google-genai
langchain-community
faiss-cpu
youtube-transcript-api
pypdf
sentence-transformers